
/* Project section */
.project {
    background-color: var(--bg-color);
    padding: 1.2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.project h2 {
    font-size: 1.2rem;
    color: var(--text-color2);
    font-weight: 400;
}

.project-section1 {
    /* background-color: skyblue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.project-section1 .box-container {
    background-color: black;
    display: block;
    /* max-width: 100%;
    max-height: 100%; */
    border-radius: 5px;
}


.box-container .box-container_img {
    min-height: auto;
    opacity: 0.6;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-in;
    display: block;
    border-radius: 5px 5px 0px 0px;
}

.box-container .box-container_img:hover {
    opacity: 1;
}


.box-container .box-container_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.box-container .box-container_details {
    padding: 1rem 1rem;
    min-height: auto;
    line-height: 1.2rem;
    background-color: var(--text-color2);
    border-radius: 0px 0px 5px 5px;
}

.box-container .box-container_details h3 {
    font-size: var(--font-size2);
}

.box-container .box-container_details p {
    font-size: var(--font-size3);
    color: var(--text-color);
    font-weight: 400;
    max-width: 280px;
    overflow-wrap: break-word; 
}


/* Section 2 */

.project-section2 {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.project-section2 .box-container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.skills-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills-container_wrapper {
    background-color: var(--bg-color2);
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}

.skills-container_wrapper h3 {
    color: var(--text-color);
    font-weight: 400;
}

.skills-container_wrapper ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skills-container_wrapper ul li {
    background-color: var(--bg-color);
    font-size: var(--font-size3);
    color: var(--text-color);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--bg-color);
}

.project-section2 .box-container2 {
    width: 410px;
    background-color: var(--bg-color2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    gap: 2rem;
}

.project-section2 .box-container2 .moreproject {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.moreproject .moreproject_items a{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid var(--bg-color);
    padding-bottom: 10px;
    color: var(--text-color);
}

.moreproject_items a .item_details {
    line-height: 1.2rem;
    position: relative;
}

.moreproject_items a,
.moreproject_items .item_details h3,
.moreproject_items .item_details p
{
    transition: all .2s ease-in;
}

.moreproject_items:hover a,
.moreproject_items:hover .item_details h3,
.moreproject_items:hover .item_details p
{
    color: var(--text-color2);
}

.moreproject_items a .item_details h3 {
    font-size: var(--font-size2);
    color: var(--text-color);
}

.moreproject_items a .item_details p {
    font-size: var(--font-size3);
    color: var(--text-color);
}
