.navbar {
    display: flex;
    height: 100vh;
}

/* Section 1 */

.navbar .navbar-section1 {
    background-color: var(--bg-color);
    position: fixed;
    height: 100%;
    padding: 1.5rem 1.5rem;
}

.navbar .navbar-section1 .nav-box {
    background-color: var(--bg-color2);
    width: 260px;
    height: calc(101% - 3rem);
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar .navbar-section1 .nav-box .nav-box_element {
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    gap: 2.6rem;
}

.nav-box .nav-box_element h3 {
    font-size: var(--font-size2);
    font-weight: 400;
    color: var(--text-color);
}

.nav-box .nav-box_element li {
    padding-left: 1rem;
    transition: all .2s ease-in;
}

.nav-box .nav-box_element li:hover {
    transform: translateY(-0.2rem);
}

.nav-box .nav-box_element li:hover a {
    color: var(--text-color2);
}

.nav-box .nav-box_element a {
    color: var(--text-color);
    font-size: var(--font-size2);
    padding-left: 2px;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all .2s ease-in;
}


/* Section 2 */

.navbar .navbar-section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.navbar-section2 .nav-box1 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1.3rem 3rem;
}

.navbar-section2 .nav-box1 a {
    color: var(--text-color2);
    font-size: var(--font-size3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.navbar-section2 .nav-box2 {
    height: auto;
    padding-left: 19rem;
}

.banner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3rem;
    background-image: url(/images/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.banner .banner-section1 .img-container {
    width: 120px;
    height: 120px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(/images/pfpimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    image-rendering: -webkit-optimize-contrast;
}

.banner-section1_element h2{
    font-size: 1.8rem;
    color: var(--text-color2);
}

.banner-section1_element p {
    color: var(--text-color2);
    font-size: var(--font-size2);
}

.banner .banner-section2 {
    background-color: var(--bg-color2);
    padding: 10px 22px;
    border-radius: 5px;
}

.banner .banner-section2 a {
    color: var(--text-color);
    font-size: var(--font-size3);
}
